#mainContent {
	position: relative;
	width: 100% !important;
	margin-top: 30px;
	padding-top: 50px;
	min-height: 800px; 
	background-color: white;
}


.product{
	border: 1px solid #dddddd;
	height: 340px;
	vertical-align: middle;
	text-align: center;
}

.product>img{
	max-width: 230px;
	max-height: 330px;
	margin: 5px auto;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
	margin-top: 40px;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-no-stock{
	color: #FF3300;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
	margin-top: 50px;
	font-size: 19px !important;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.item-container * .container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}


.container .col-md-12{
	margin-right: 70px;
	width: 300px;
	display: inline-block;
	
}

