body {
	background-image: url("../res/img/SignUpBackground.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

#mainContent {
	background-color: rgba(104, 104, 104, 0.6);
	margin: 0 auto;
	padding: 30px 200px;
}

.SignUpImg {
	background-color: rgba(236, 236, 236, 1);
	margin: 200px auto;
	padding: 20px 40px;
	width: 540px;
}

.form-signup {
	margin: 10px auto;
	width: 450px;
}

.has-feedback > p {
	margin-top: 0px !important;
}

 form p {
	margin-top: -12px !important;
}

.form-group .slash {
	background-color: transparent;
	visibility: visible !important;
	font-size: 15px;
	display: inline;
	position: relative;
	width: 20px;
	margin: 0 -10px;
	color: black;
	right: 0px !important;
	
}

.form-group {
	width: 270px !important;
}

.form-group input {
	width: 270px !important;
	padding-right: 0px !important;
}

#dobInputs {
	width: 400px !important;
} 

#dobInputs > .form-group  {
	width: 90px !important;
} 

#dobInputs > .form-group span {
	right: 11px;
}

.form-group span {
	padding: 2px 10px;
}

#signupBtn {
	width: 300px;
	margin: 20px auto;
	margin-bottom: -10px;
}